<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>SIT722 DevOps Glossary</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>SIT722 DevOps Glossary</h1>
    <h4>Welcome To My website showing a collection of DevOps Terms and Their Brief Description</h4>
    <table>
        <tr>
            <th>Term</th>
            <th>Definition</th>
            <th>References</th>
        </tr>
        <% glossary.forEach(term => { %>
            <tr>
                <td><%= term.term %></td>
                <td><%= term.definition %></td>
                <td><%= term.references %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>
